.pet-btn {
  border: 3px solid;
  border-image-slice: 1;
  color: #fff;
  border-image-source: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
  text-decoration: none;
  transition: all 0.9s ease;
  letter-spacing: 2px;
  padding: 10px;
}

.pet-btn:hover,
.pet-btn:focus {
  background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
  -webkit-text-fill-color: #fff !important;
  border: 3px solid #fff !important;
  box-shadow: #222 1px 0 10px;
}
