body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/dog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 14px;
  letter-spacing: 0.2rem;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pet-btn {
  border: 3px solid;
  border-image-slice: 1;
  color: #fff;
  border-image-source: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
  text-decoration: none;
  transition: all 0.9s ease;
  letter-spacing: 4px;
  padding: 10px;
}

.pet-btn:hover,
.pet-btn:focus {
  background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
  -webkit-text-fill-color: #fff !important;
  border: 3px solid #fff !important;
  box-shadow: #222 1px 0 10px;
}
